<header id="header">
  <nav id="navbar424" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header navbar-right">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Easy Proposal</a>
      </div>

      <div class="collapse navbar-collapse">
      
      <div class="navbar-text">
        <a class="ep-link" href="">Proposal #1234</a> / 
        <a class="ep-link" href="">Basics</a> / 
        <a class="ep-link" href="">PI</a>
      </div>

      </div><!-- /.navbar-collapse -->

    </div> <!-- container -->
  </nav>
</header>
