


<div class="container">


  <div class="row clearfix">
    <div class="col-md-offset-1 col-md-10 column">

      <div class="jumbotron">
        <h1>Starting a Proposal?</h1>
        <p>Let us guide you through the process and get you on your way.</p>
        <p><a class="btn btn-primary btn-lg" href="Proposal1.html">Create Proposal</a></p>
      </div>

    </div> <!-- column -->
  </div> <!-- row -->
  <p>



  <div class="row clearfix">
    <div class="col-md-offset-1 col-md-10 column">

      <table id="proposals" class="table table-bordered">
            <tr>
              <th></th>
              <th>Title</th>
              <th>Sponsor</th>
              <th>Created</th>
            </tr>
            {{#each controller}}
              <tr>
                <td></td>
                <td>{{#link-to 'proposal_basics' this.id}}{{title}}{{/link-to}}</td>
                <td></td>
                <td></td>
              </tr>
            {{else}}
              <tr>You have not created an proposals with EasyProposal yet.</tr>
            {{/each}}
      </table>

    </div> <!-- column -->
  </div> <!-- row -->



</div> <!-- container -->
