


<div class="container">


  <div class="row clearfix">
    <div class="col-md-offset-1 col-md-10 column">

      <div class="jumbotron">
        <h1>Starting a Proposal?</h1>
        <p>Let us guide you through the process.</p>
        <p>{{#link-to 'proposal_basics'}}
          <a class="btn btn-primary btn-lg">Create Proposal</a>
        {{/link-to}}</p>
      </div>

    </div> <!-- column -->
  </div> <!-- row -->
  <p>



  <div class="row clearfix">
    <div class="col-md-offset-1 col-md-10 column">

          {{#if controller}}

            <table id="proposals" class="table table-bordered">
              <thead>
                  <tr>
                    <th></th>
                    <th {{action "sort" "title"}}>Title <span {{bind-attr class=":pull-right :glyphicon controller.sortImageClass"}}></span></th>
                    <th>Sponsor</th>
                    <th>Created</th>
                  </tr>
              </thead>
              <tbody>
                  {{#each controller}}
                    <tr>
                      <td></td>
                      <td>{{#link-to 'proposal_basics' this.id}}{{title}}{{/link-to}}</td>
                      <td></td>
                      <td></td>
                    </tr>
                  {{else}}
                    <tr>
                      <td>You have not created an proposals with EasyProposal yet.</td>
                    </tr>
                  {{/each}}
               </tbody>
            </table>

          {{/if}}



    </div> <!-- column -->
  </div> <!-- row -->



</div> <!-- container -->
