/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "bootstrap/theme";


/*
 * experimental below
 */

body {
  padding-top: 55px !important;
}

.jumbotron {
  text-align:center;
  background-color: transparent;
}

thead {
  cursor: pointer;
  background-color: #f2f2f2;
}

a.ep-button {
  &:visited {
    color: #fff !important;
  }
  &:hover {
    color: #fff;
  }
}

a.ep-link {

  &:visited {
    color: #428bca !important;
    background-color: #fff;
  }
  &:hover {
    color: #428bca !important;
    background-color: #fff;
  }
}

.breadcrumbs {
  line-height: 18px;
  padding-bottom: 4px;
}

.navbar {min-height:40px !important}
